<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/css/home_style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <title>Mi Página de Inicio</title>
    
    
</head>
<body>
    <div class="contenedor-principal">
        <div class="logo">
            <img src="https://i.imgur.com/tep3cjT.png" alt="logo">
        </div>
        <div class="imagen-contenedor">
            <img src="https://i.imgur.com/uZBs84V.png" alt="Imagen 2" class="imagen2">
        </div>
        <div class="texto-boton-contenedor">
            
            <div class="texto-contenedor">
                <div class="texto-bienvenida">
                    <h1>Bienvenido a<br>Strainer UA</h1>
                </div>
                <div class="texto-opcion">
                    <p>Elige una opción:</p>
                </div>
            </div>
            <div class="botones-contenedor">
                <button href="{% url 'index' %}" id="boton-1" class="boton-1" style=" justify-content: center;" >
                    Ingresar formulario 
                    <img src="https://i.imgur.com/CfoLkLA.png" alt="Icono 1" class="Icono1"> 
                </button>
                <button class="boton-2" style=" justify-content: center;" >  Cargar Excel 
                    <img src="https://i.imgur.com/1xZiWbN.png" alt="Icono 2"  > 
                </button>
                <button class="boton-3" style=" justify-content: center;" > Sobre Nosotros </button>
            </div>
        </div>
    </div>
    <script>
        // Agrega un evento click al botón
        document.getElementById('boton-1').addEventListener('click', function() {
            // Redirige a la URL deseada
            window.location.href = "{% url 'index' %}";
        });
    </script>
</html>
