<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Formulario de Predicción de Deserción</title>
    <link rel="stylesheet" href="./static/css/form_style.css">
</head>

<body>
    <section class="resultado">
        <form id="form-container" method="POST" enctype="application/json" action="{% url 'procesar_formulario' %}">
            <div class="cabecera">
                <span>Strainer UA</span>
                <span class="txt_centro">Análisis de estudiantes de la <br>Universidad Autónoma de Chile</span>
                <img class="img_cabecera" src="https://i.imgur.com/gmuTmLx.png" />
            </div>
            <div class="menu">
                <div>
                    <button class="btn_primary" id="irhome" name="irhome"><img class="img_btn" src="https://i.imgur.com/Hsdih7P.png" >Home</button>
                    <button class="btn_primary"><img class="img_btn" src="https://i.imgur.com/QXUGL1H.png">Ingresar Formulario</button>
                    <button class="btn_primary"><img class="img_btn" src="https://i.imgur.com/WT9Ih8e.png">Cargar Excel</button>
                </div>
                <button class="btn_primary"><img class="img_btn" src="https://i.imgur.com/7gWa2sO.png">Cerrar Sesión</button>
            </div>
            <div class="contenido">
                <!-- Contenedor principal centrado -->
                <div class="center-container">
                    <!-- Mensaje encima del formulario -->
                    <div id="mensaje-container">
                        <p>Estimado docente, debe responder todas las preguntas y debe recordar que la información que ingresa es confidencial al igual que la predicción final. Sea cauteloso.</p>
                    </div>
                    <!-- Formulario dentro del recuadro -->
                    <div id="formulario-container">
                        <form id="form-container" >
                            {% csrf_token %}
                            <h2>Formulario de Predicción de Deserción</h2>
                            <div class="question">
                                <label>1. ¿Ha pensado en dejar la carrera?</label>
                                <label><input type="radio" name="1" value="1"> Sí</label>
                                <label><input type="radio" name="1" value="0"> No</label>
                            </div>
                            <div class="question">
                                <label>2. ¿Ha pensado en dejarla por Factor Económico?</label>
                                <label><input type="radio" name="2" value="1"> Sí</label>
                                <label><input type="radio" name="2" value="0"> No</label>
                            </div>
                            <div class="question">
                                <label>3. ¿Ha pensado en dejarla por Factor Salud Mental?</label>
                                <label><input type="radio" name="3" value="1"> Sí</label>
                                <label><input type="radio" name="3" value="0"> No</label>
                            </div>
                            <div class="question">
                                <label>4. ¿Ha pensado en dejarla por Falta de Motivación?</label>
                                <label><input type="radio" name="4" value="1"> Sí</label>
                                <label><input type="radio" name="4" value="0"> No</label>
                            </div>
                            <div class="question">
                                <label>5. ¿Ha pensado en dejarla por Otro Motivo?</label>
                                <label><input type="radio" name="5" value="1"> Sí</label>
                                <label><input type="radio" name="5" value="0"> No</label>
                            </div>
                            <div class="question">
                                <label>6. ¿Cuantos Años sabáticos se tomó antes de entrar a la Universidad?</label>
                                <input type="text" name="6" placeholder="Ingrese un valor entre 1 y 100">
                            </div>
                            <div class="question">
                                <label>7. ¿Qué edad cumplió el año que entró a estudiar?</label>
                                <input type="text" name="7" placeholder="Ingrese un valor entre 1 y 100">
                            </div>
                            <div class="question">
                                <label>8. Ciudad o Comuna de origen</label>
                                <select name="8">
                                    <option value="0">Talca</option>
                                    <option value="1">Santiago</option>
                                    <option value="2">Temuco</option>
                                    <option value="3">Otro</option>
                                </select>
                            </div>
                            <div class="question">
                                <label>9. Tipo de residencia</label>
                                <select name="9">
                                    <option value="0">Arrienda</option>
                                    <option value="1">Vive pero no arrienda</option>
                                    <option value="2">Viaja para estudiar [Vive fuera de la ciudad]</option>
                                </select>
                            </div>
                            <div class="question">
                                <label>10. Arrienda</label>
                                <label><input type="radio" name="10" value="1"> Sí</label>
                                <label><input type="radio" name="10" value="0"> No</label>
                            </div>
                            <div class="question">
                                <label>11. ¿Tiene a alguien que dependa de usted?</label>
                                <label><input type="radio" name="11" value="1"> Sí</label>
                                <label><input type="radio" name="11" value="0"> No</label>
                            </div>
                            <div class="question">
                                <label>12. ¿Sus padres o tutores apoyan sus estudios?</label>
                                <label><input type="radio" name="12" value="1"> Sí</label>
                                <label><input type="radio" name="12" value="0"> No</label>
                            </div>
                            <div class="question">
                                <label>13. ¿Tiene acceso a recursos de aprendizaje adecuados?</label>
                                <label><input type="radio" name="13" value="1"> Sí</label>
                                <label><input type="radio" name="13" value="0"> No</label>
                            </div>
                            <div class="question">
                                <label>14. ¿Ha experimentado problemas de salud mental, estrés, ansiedad y/o depresión?</label>
                                <label><input type="radio" name="14" value="1"> Sí</label>
                                <label><input type="radio" name="14" value="0"> No</label>
                            </div>
                            <div class="question">
                                <label>15. ¿Tiene que trabajar para mantener a su familia?</label>
                                <label><input type="radio" name="15" value="1"> Sí</label>
                                <label><input type="radio" name="15" value="0"> No</label>
                            </div>
                            <div class="question">
                                <label>16. ¿Puede hablar con alguien cuando se siente abrumado?</label>
                                <label><input type="radio" name="16" value="1"> Sí</label>
                                <label><input type="radio" name="16" value="0"> No</label>
                            </div>
                            <div class="question">
                                <label>17. En caso de tener que costear la carrera, ¿Le genera un problema económico a su núcleo
                                    familiar?</label>
                                <label><input type="radio" name="17" value="1"> Sí</label>
                                <label><input type="radio" name="17" value="0"> No</label>
                            </div>
                            <div class="question">
                                <label>18. ¿Tiene amigos en la universidad con los que se sienta cómodo?</label>
                                <label><input type="radio" name="18" value="1"> Sí</label>
                                <label><input type="radio" name="18" value="0"> No</label>
                            </div>
                            <div class="question">
                                <label>19. Tipo de financiamiento</label>
                                <label><input type="checkbox" name="19" value="1"> Crédito</label>
                                <label><input type="checkbox" name="19" value="2"> Gratuidad</label>
                                <label><input type="checkbox" name="19" value="3"> Beca</label>
                            </div>
                            <div class="question">
                                <label>20. ¿Tiene un interés genuino en la carrera que escogió?</label>
                                <label><input type="radio" name="20" value="1"> Sí</label>
                                <label><input type="radio" name="20" value="0"> No</label>
                            </div>
                            <button onclick="calcularProbabilidad()">Calcular</button>
                            <div class="result" id="result-container">
                                {% if probabilidad %}
                                    <p>La probabilidad de deserción es: {{ probabilidad }}%</p>
                                {% endif %}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </form>    
    </section>
    <script>

        function calcularProbabilidad() {
            const csrftoken = getCookie('csrftoken');
            const formData = new FormData(document.getElementById('form-container'));

            fetch("{% url 'procesar_formulario' %}", {
                method: 'POST',
                headers: {
                    'X-CSRFToken': csrftoken,
                },
                body: formData,
            })
                .then(response => response.json())
                .then(data => {
                    const resultContainer = document.getElementById('result-container');
                    resultContainer.innerHTML = `<p>La probabilidad de deserción es: ${data.probabilidad}%</p>`;
                });
        }

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.startsWith(name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        document.addEventListener("DOMContentLoaded", function () {
            const formularioContainer = document.getElementById('formulario-container');
            formularioContainer.addEventListener('scroll', function (event) {
                event.preventDefault(); // Evitar el comportamiento predeterminado de scroll
            });
        });
    </script>
</body>

</html>
