body {
    margin: 0;
    padding: 0;
    font-family: 'Kurale', serif;
    overflow: hidden; /* Evita el desplazamiento vertical en el cuerpo */
}

.contenedor-principal {
    height: 100vh; /* Establece la altura al 100% de la altura de la vista */
    display: flex;
    margin:5px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='210' height='210' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23AF6B24' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%239D9D9D'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
    background-size: auto;
    background-color: #cccccc;
}

.imagen-contenedor {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 50%;

}

.imagen2 {
    max-width: 100%; /* Ajustado para ocupar el ancho disponible */
    height: auto;
    max-height: 100vh; /* Ajustado para ocupar el alto disponible */
}

.texto-boton-contenedor {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow-y: initial; /* Añade desplazamiento vertical si el contenido es demasiado grande */
}

.texto-contenedor {
     /* Ajustado para dar más espacio en la parte superior */
    height: auto;
    max-height: 50vh;
    margin-right: 20%;
}

.texto-bienvenida {
    font-size: 37.5px;
}

.texto-opcion {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    font-size: 45px;
}

.botones-contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 37.5px;
    margin-bottom: 50px; /* Ajustado para dar más espacio entre texto y botones */
}



.logo {
    position: fixed;
    top: 0;
    right: 0;
    padding: 5px;
}

.boton-1, .boton-2, .boton-3 {
    font-family: 'Kurale', serif;
    font-size: 37.5px;
    display: flex;
    margin-bottom: 20px; /* Ajustado para dar más espacio entre los botones */
    padding: 10px;
    width: 80%;
    max-width: 500px;
    cursor: pointer;
    border-radius: 46.5px;
    border: 0.375px solid;
    color: #363636;
    margin-right: 10%;
    
}

.boton-1 {
    background: #DCE359;
}

.boton-2 {
    background: rgba(0, 0, 0, 0.25);
}

.boton-3 {
    background: #F47559;
}

.boton-1 img, .boton-2 img {
    width: 20%; /* Ajustado a porcentaje */
    height: auto;
    transform: rotate(10deg);
    position: relative;
    left: 2%; /* Ajustado a porcentaje */
}

@media screen and (max-width: 768px) {
    /* Estilos específicos para pantallas más pequeñas */
    .texto-bienvenida {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .boton-1, .boton-2, .boton-3 {
        font-size: 15px;
    }
}
