body {
    margin: 0;
    padding: 0;
    font-family: 'Kurale', serif;
    overflow: hidden; /* Evita el desplazamiento vertical en el cuerpo */
}

.contenedor-principal {
    height: 100vh; /* Establece la altura al 100% de la altura de la vista */
    display: flex;
    margin:5px;
}

.imagen-contenedor {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 50%;

}

.imagen2 {
    max-width: 100%; /* Ajustado para ocupar el ancho disponible */
    height: auto;
    max-height: 100vh; /* Ajustado para ocupar el alto disponible */
}

.texto-boton-contenedor {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow-y: initial; /* Añade desplazamiento vertical si el contenido es demasiado grande */
}

.texto-contenedor {
     /* Ajustado para dar más espacio en la parte superior */
    height: auto;
    max-height: 50vh;
    margin-right: 20%;
}

.texto-bienvenida {
    font-size: 37.5px;
}

.texto-opcion {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    font-size: 45px;
}

.botones-contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 37.5px;
    margin-bottom: 50px; /* Ajustado para dar más espacio entre texto y botones */
}



.logo {
    position: fixed;
    top: 0;
    right: 0;
    padding: 5px;
}

.boton-1, .boton-2, .boton-3 {
    font-family: 'Kurale', serif;
    font-size: 37.5px;
    display: flex;
    margin-bottom: 20px; /* Ajustado para dar más espacio entre los botones */
    padding: 10px;
    width: 80%;
    max-width: 500px;
    cursor: pointer;
    border-radius: 46.5px;
    border: 0.375px solid;
    color: #363636;
    margin-right: 10%;
    
}

.boton-1 {
    background: #DCE359;
}

.boton-2 {
    background: rgba(0, 0, 0, 0.25);
}

.boton-3 {
    background: #F47559;
}

.boton-1 img, .boton-2 img {
    width: 20%; /* Ajustado a porcentaje */
    height: auto;
    transform: rotate(10deg);
    position: relative;
    left: 2%; /* Ajustado a porcentaje */
}

@media screen and (max-width: 768px) {
    /* Estilos específicos para pantallas más pequeñas */
    .texto-bienvenida {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .boton-1, .boton-2, .boton-3 {
        font-size: 15px;
    }
}
